/*************** Reset *********************/
* {
margin: 0;
padding: 0;
box-sizing: border-box;
}
img {
width: 100%;
height: auto;
display: block;
}
/*************** Reset *********************/

body {
    background-color: rgb(240, 239, 255);
}

header {
    background-color: #00b4d8;
}

main {
    padding: 12px;
}

main img {
    padding: 5px 0;
}

h1 {
    font-family: "Inter", sans-serif;
    font-size: 40px;
    padding: 6px 12px;
}

h2 {
    font-family: "Inter", sans-serif;
}

h3 {
    font-family: "Inter", sans-serif;
}

p {
    font-family: "Inter", sans-serif;
    padding: 10px 2px;
    word-spacing: 3px;
}

footer {
    background-color: #90e0ef;
}