/*************** Reset *********************/
* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

img {
width: 100%;
height: auto;
display: block;
}
/*************** Reset *********************/

body {
    background-color: #DBCCFF;
    padding: 0 4%;
}

h1 {
    font-family: "Chewy", system-ui;
    font-size: 45px; 
    margin: 2% 0; 
}

h2 {
    font-family: "Patrick Hand", cursive;
    font-size: 32px;
    margin: 0 2%;
}

h3 {
    font-size: 24px;
    margin: 2% 4%;
}

p {
    font-size: 20px;
    margin: 2% 0;
}

img {
    border: 10px solid #6243A8;
    background-color: white;
    margin: 4% 0;
}

main a {
    background-color: #6243A8;
    color: white;
    font-size: 24px;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

main a:hover {
    background-color: #341775;
}

footer {
    position: absolute;
    background-color: #341775;
    color: white;
    text-align: center;
    left: 0;
    right: 0;
}
